<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="SQLServerConn" connectionString="Data Source=127.0.0.1;Initial Catalog=ProductsDb;User Id=sa;Password=ht2018"/>
  </connectionStrings>

  <appSettings>

    <add key="Test" value="1"/>
    <!--系统语言：1、中文，2、英文-->
    <add key="Language" value="1"/>
    <!--工作站名称（S:小环，L：大环）-->
    <add key="StationName" value="L"/>
    <!--PLC服务器IP地址-->
    <add key="PLCIP" value="192.168.0.75"/>
    <!--LWmIP地址-->
    <add key="LwmIP" value="192.168.0.60"/>
    <!--连接PLC_OPC的IP地址和端口号-->
    <add key="PLC_OPC_Address" value="opc.tcp://192.168.0.75:4840"/>
    <!--扫码枪IP地址-->
    <add key="ScanIP" value="192.168.0.88"/>
    <!--扫码枪端口号-->
    <add key="ScanPort" value="9004"/>

  </appSettings>

</configuration>
