<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ProductManage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

  <connectionStrings>
    <add name="SQLServerConn" connectionString="Data Source=127.0.0.1;Initial Catalog=ProductsDb;  User Id=sa;Password=1234;Connection Timeout=3;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <appSettings>

    <add key="DBProviderType" value="SQLServerDAL"/>
    <add key="Test" value="1"/>
    <!--系统语言：1、中文，2、英文-->
    <add key="Language" value="1"/>
    <!--工作站名称（S:小环，L：大环）-->
    <add key="StationName" value="L"/>
    <!--PLC服务器IP地址-->
    <add key="PLCIP" value="192.168.0.75"/>
    <!--LWmIP地址-->
    <add key="LwmIP" value="192.168.0.60"/>
    <!--连接PLC_OPC的IP地址和端口号-->
    <add key="PLC_OPC_Address" value="opc.tcp://192.168.0.75:4840"/>
    <!--连接PLC的用户名-->
    <add key="PLC_OPC_User" value="admin"/>
    <!--连接PLC的用户名密码-->
    <add key="PLC_OPC_UserPwd" value="123456"/>
    <!--扫码枪IP地址-->
    <add key="ScanIP" value="192.168.0.88"/>
    <!--扫码枪端口号-->
    <add key="ScanPort" value="9004"/>
    <add key="QuitPwd" value="123"/>

    <add key="LineName" value="FormMain" />
    <add key="RedisClient" value="192.168.8.60"/>
    <add key="SessionExpireMinutes" value="180" />
    <add key="redis_server_session" value="192.168.8.60:6379" />
    <add key="redis_max_read_pool" value="9" />
    <add key="redis_max_write_pool" value="9" />

  </appSettings>

  <userSettings>
    <ProductManage.Properties.Settings>
      <setting name="DefaultLanguage" serializeAs="String">
        <value>zh-CN</value>
      </setting>
    </ProductManage.Properties.Settings>
  </userSettings>
</configuration>
