<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
      <add name="MySQLConnString" connectionString="database=schema;User ID=root;Password=root;server=localhost"/>
     
      <add name="OracelString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))
         (CONNECT_DATA=(SID=orcl)));User Id=c##admin;Password=admin;"/>

      <add name="MyDatabase" connectionString="Data Source=Dell7577;Initial Catalog=ProductsDb;User Id=HTLaser;Password=ht2018"
        providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="MySQLConnString" value="database=schema;User ID=root;Password=root;server=localhost"/>
    
    <add key="MySQLConnString2"
          value="Server=localhost;Database=schema;Pooling=True;Port=3306;User Id=root;
          Password=root;Persist Security Info=True;Allow Zero Datetime=True;Character Set=utf8;"/>

  </appSettings>
</configuration>
