<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MySQLConnString" connectionString="database=schema;User ID=root;Password=root;server=localhost" />
    <add name="OracelString" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=orcl)));User Id=c##admin;Password=admin;" />
    <add name="MyDatabase" connectionString="Data Source=Dell7577;Initial Catalog=ProductsDb;User Id=HTLaser;Password=ht2018"/>

    <add name="SQLServerConn" connectionString="Data Source=127.0.0.1;Initial Catalog=T180801;User Id=sa;Password=1234;"
         providerName="System.Data.SqlClient"/>
    
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="MySQLConnString" value="database=schema;User ID=root;Password=root;server=localhost" />
    <add key="MySQLConnString2" value="Server=localhost;Database=schema;Pooling=True;Port=3306;User Id=root;Password=root;" />
    <add key="LastModel676" value="H3Z" />
    <add key="LastModel677" value="H0I" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>